<div style="margin-top: 20vh;" class="container">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a ui-sref="home.step1" type="button" class="btn btn-default btn-circle" ui-sref-active="btn-info">1</a>
        <p>Datos de Usuario</p>
      </div>
      <div class="stepwizard-step">
        <a ui-sref="home.step2" type="button" class="btn btn-default btn-circle" ui-sref-active="btn-info">2</a>
        <p>Datos de Vehículo</p>
      </div>
      <div class="stepwizard-step">
        <a ui-sref="home.step3" type="button" class="btn btn-default btn-circle" ui-sref-active="btn-info">3</a>
        <p>Resumen</p>
      </div>
      <div class="stepwizard-step">
        <a ui-sref="home.step4" type="button" class="btn btn-default btn-circle" ui-sref-active="btn-info">4</a>
        <p>Datos de pago</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" id="form-views" ui-view=""></div>
  </div>
</div>