<div class="row setup-content" id="step-2">
  <div class="col-xs-12">
    <form name="myForm2">
      <h3 class="step-title"> Datos del vehículo</h3>
      <br>
      <div class="form-group col-md-6 col-xs-4">
        <label class="control-label">Placa del vehículo*</label>
        <input required type="text" class="form-control" name="license_plate" ng-blur="getLicensePlate(car.license_plate)" ng-model="car.license_plate">
      </div>
      <span ng-if="show_vehicle_data">
        <div class="form-group col-md-6 col-xs-4">
          <label class="control-label">Clase de vehiculo*</label>
          <select class="form-control" ng-options="item.id as item.vehicle_class for item in vehicle_classes | orderBy:'vehicle_class' track by item.id" ng-model='car.vehicle_class_id' ng-change="verClasses(car.vehicle_class_id); verAmountData()">
            <option disabled= 'disabled' value= ''>
              Clases de vehículos
            </option>
          </select>
        </div>
        <div class="form-group col-md-6 col-xs-4">
          <label class="control-label">Subtipo del vehículo*</label>
          <div class="input-group">
            <input required ng-blur="verAmountData()" ng-disabled="!car.vehicle_class_id" type="number" min="0" class="form-control" name="vehicle_subtype" ng-model='car.vehicle_subtype_number'>
            <span class="input-group-addon">{{subtype}}</span>
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-4">
          <label class="control-label">Años del vehículo*</label>
          <input required ng-blur="verAmountData()" class="form-control" name="vehicle_age" type="number" min="0" ng-model='car.vehicle_age'>
        </div>
      </span>

      <div class="col-xs-12">
        <div class="col-xs-4 text-left">
          Datos obligatorios*
        </div>
        <div class="btn-group col-xs-offset-6 col-xs-2 text-right">
          <button class="btn btn-basic nextBtn btn-md" type="button" ui-sref="home.step1">Atrás</button>
          <button class="btn btn-info nextBtn btn-md" type="button" ng-click="getAmountData()" ui-sref="home.step3" ng-disabled="myForm2.$error.required">Siguiente</button>
        </div>
      </div>
    </form>
  </div>
</div>