<div class="row setup-content" id="step-3">
  <div class="col-xs-12">
    <form name="myForm3">
      <h3 class="step-title"> Datos de pago</h3>
      <br>
      <div class="form-group col-md-6 col-xs-4">
        <label class="control-label">Número de tarjeta de crédito*</label>
        <input required type="number" class="form-control" name="credit_card_number" ng-model="pay.credit_card_number">
      </div>
      <div class="form-group col-md-6 col-xs-4">
        <label class="control-label">Código CVV de la tarjeta*</label>
        <div class="input-group">
        	<input required class="form-control" name="cvv_code" type="number" min="0" ng-model='pay.cvv_code'>
        </div>
      </div>
      <div class="form-group col-md-6 col-xs-4">
        <label class="control-label">Títular de la tarjeta*</label>
         <input required type="text" class="form-control" name="cardholder" ng-model='pay.cardholder'>
      </div>
      <div class="form-group col-md-6 col-xs-4">
        <div class="col-xs-12">
        	<label class="control-label">Fecha de expiración*</label>
        </div>
        <div class="col-xs-6">
        	<input max="99" placeholder="MM" required class="form-control" name="expiration_date_month" type="number" min="0" ng-model='pay.expiration_date_month'>
        </div>
        <div class="col-xs-6">
        	<input max="99" required placeholder="YY" class="form-control" name="expiration_date_year" type="number" min="0" ng-model='pay.expiration_date_year'>
        </div>
      </div>
      <br>
      <div class="col-xs-12">
        <div class="col-xs-9 text-left">
          Datos obligatorios*
        </div>
        <div class="btn-group col-xs-3 text-right">
          <button class="btn btn-basic btn-md" type="button" ui-sref="home.step3">Atrás</button>
          <button class="btn btn-info btn-md" type="button" ng-disabled="myForm3.$error.required" ng-click="savePayment()">Pagar seguro</button>
        </div>
      </div>
    </form>
  </div>
</div>