<div class="row setup-content" id="step-1">
  <div class="col-xs-12">
    <div class="col-md-12">
      <form name="myForm1">
        <h3 class="step-title"> Datos del usuario</h3>
        <div class="col-xs-12 text-right">
          <a style="cursor: pointer;" ng-click="emptyUser();">Vaciar datos</a>
        </div>
        <div class="form-group col-md-6 col-xs-4">
          <label class="control-label">Tipo de documento</label>
          <select id="document_type" class="form-control" ng-options="item.id as item.document_type for item in document_types | orderBy:'document_type' track by item.id" ng-model='user.document_type_id'>
            <option disabled= 'disabled' value= ''>
              {{user.document_type.document_type? user.document_type.document_type : 'Tipo de documento*'}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6 col-xs-8">
          <label class="control-label">Número de documento*</label>
          <input required type="text" class="form-control" ng-disabled="!user.document_type_id" name="email" ng-blur="getUser(user.document_number);" ng-model="user.document_number">
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label class="control-label">Nombre*</label>
          <input required type="text" class="form-control" name="name" ng-model="user.name">
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label class="control-label">Apellido*</label>
          <input required type="text" class="form-control" name="last_name" ng-model="user.last_name">
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label class="control-label">Correo electrónico*</label>
          <input required type="email" class="form-control" name="input" ng-model="user.email">
          <small style="color: red;" class="error" ng-show="myForm1.input.$error.email">No es un Email válido!</small>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label class="control-label">Número de teléfono*</label>
          <input required type="text" class="form-control" name="phone" ng-model="user.phone">
        </div>
        <div class="col-xs-12">
          <div class="col-xs-4 text-left">
            Datos obligatorios*
          </div>
          <div class="col-xs-8">
            <button class="btn btn-info nextBtn btn-md pull-right" ui-sref="home.step2" ng-click="saveUser()" ng-disabled="!myForm1.input.$valid" type="button" >Siguiente</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>