<div class="col-xs-12">
	<br>
  <div class="panel panel-info">
    <div class="panel-heading">Cotización de seguro</div>
    <div class="panel-body" style="padding-top: 50px; padding-bottom: 50px;">
    	<p><strong>Clase del vehículo: </strong> {{vehicle_class}}</p>
    	<p ng-if="amount.subtype_range"><strong>Subtipo del vehículo: </strong> {{amount.subtype_range}}</p>
    	<p ng-if="amount.age_range"><strong>Edad del vehículo: </strong> {{amount.age_range}}</p>
    	<p><strong>Tasa comercial: </strong> {{amount.commercial_rate}}%</p>
    	<p><strong>Valor prima: </strong> {{amount.premium_amount}}$</p>
    	<p><strong>Contribución 50% FOSYGA: </strong> {{amount.fosyga_contribution}}$</p>
    	<p><strong>Subtotal de prima: </strong> {{amount.premium_subtotal}}$</p>
    	<p><strong>Tasa RUNT: </strong> {{amount.runt_rate}}%</p>
    	<h4><strong>TOTAL: </strong> {{amount.total}}$</h4>
    </div>
  </div>
  <div class="btn-group col-xs-offset-10 col-xs-2 text-right">
    <button class="btn btn-basic btn-md" type="button" ui-sref="home.step2">Atrás</button>
    <button class="btn btn-info btn-md" type="button" ui-sref="home.step4" ng-disabled="myForm2.$error.required">Aceptar</button>
  </div>
</div>