<div class="row setup-content" id="step-3">
  <br>
  <br>
  <div class="col-xs-12 text-center">
    <h1>El pago se ha procesado exitósamente</h1>
    <h3>Le ha llegado un correo con toda la información de pago del seguro.</h3>
    <button class="btn btn-info btn-lg" ng-click="downloadPdf()">Descargar PDF</button>
  </div>
</div>