/* app css stylesheet */

@font-face
{
  font-family: 'Futura';
  src: url('futura_light.ttf') format('truetype');
}

body {
  font-family: "Futura", Arial, "san-serif" !important;
}

/* home */
  .stepwizard-step p {
    margin-top: 10px;
  }

  .stepwizard-row {
    display: table-row;
  }

  .stepwizard {
    display: table;
    width: 100%;
    position: relative;
  }

  .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  .stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
  }

  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
  }

  .btn-circle {
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
  }
  .step-title {
    border-bottom: solid 1px rgba(10,10,10,0.1)
  }

  #soat-form { position:relative; min-height:300px; overflow:hidden; padding:30px; }
  /* basic styling for entering and leaving */
  /* left and right added to ensure full width */
  #form-views.ng-enter,
  #form-views.ng-leave      { position:absolute; left:30px; right:30px;
      transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
  }
      
  /* enter animation */
  #form-views.ng-enter            { 
      -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
  }

  /* leave animation */
  #form-views.ng-leave            { 
      -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
  }
/* end home */
